@model Usuario
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="e">

<head>
    <meta name="viewport" content="width=device-width" />
    <title>iniciar sesión</title>
</head>
<body>
        <div class="mb-3">
                  <div id="google_translate_element"></div>

                            <script type="text/javascript">
                                function googleTranslateElementInit() {
                                new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
                                }
                            </script>

                            <script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

                           </div>
    <div class="row mt-5"> 
            <div class ="col-sm-4 offset-sm-4"> 
                  
                <form asp-controller ="LoginController1" asp-action ="Login" method ="post" >
                      <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">CORREO</label>
                        <input type="email" class="form-control" asp-for="Correo">
                        
                      </div>
                      <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">CONTRASEÑA</label>
                        <input type="password" class="form-control" asp-for="Contrasena">
                      </div>
               
                      <button type="submit" class="btn btn-primary">INGRESAR</button>
                      <div> 

                          @Html.ActionLink("Olvidaste tu contraseña", "StartRecovery")

                      </div>
                    
                </form>

                
                   
    </div>
    
    </div>
       <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</body>
</html>
