@model splash_alert.Models.ViewModels.VRecovery
@{
    ViewData["Title"] = "Recuperar contraseña";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-6 offset-3">
        <div class="form-Style"> 

          <form  asp-controller ="LoginController1"  asp-action ="StartRecovery" method="post">
            
                <label> escribe tu correo electronico</label>
                 @Html.TextBoxFor(d=>d.Email, null,new{@class="form-control"})
                 @Html.ValidationMessageFor(d=>d.Email,null,new{style="color:red"})
                 <br/>
             <div class="text-right">
                   <button class="btn btn-primary btn-sm w-25" type="submit">Recuperar</button>
             </div>

          </form>
               
             
            


        </div>

    </div>
</div>



