@{
    ViewData["Title"] = " ";
}
   <style>                                 
   
   body{
background-image: radial-gradient(circle at 50% -20.71%, #fbffff 0, #ecfffd 7.14%, #dafffa 14.29%, #c6fff7 21.43%, #aefff5 28.57%, #92fff3 35.71%, #70fcf2 42.86%, #3cf2f2 50%, #00e7f3 57.14%, #00ddf6 64.29%, #00d4fa 71.43%, #00cbff 78.57%, #00c2ff 85.71%, #00baff 92.86%, #00b3ff 100%);
   }
   

   </style>
<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <p>Alerta de activación!!!.</p>

   
         <div class="row mt-2">
    <div class="col- sm-6">
    <div class="card">
        <div class="card-header">Introducción </div>
        <div class="card-body">
               <td colspan="2">
                        <div class="fondoLabelIndex" style="background-color: #FFE5B4;">
                            <label style="font-family: 'Times New Roman'; font-size: 120%;">
                               Este proyecto está enfocado en los objetivos de desarrollo 
                               sostenible que incluyen industria, innovación e infraestructura.
                               En este caso se investigará más a fondo en el área de
                               entretenimiento acuático. El proyecto fue nombrado SPLASH ALERT,
                               el cual se relaciona con alertas que se producen con salpicaduras de agua,
                               sobreponiendo la idea de caída accidental en el agua.
                               SPLASH ALERT está basado en el desarrollo de un dispositivo electrónico
                               que ayudará a reducir el porcentaje de accidentes en lugares donde se brinde
                               el servicio de piscina. Está creado con el fin de reducir la tasa de mortalidad
                               en todo sitio que cuente con entretenimiento acuático, en otras palabras, 
                               para prevenir que una persona caiga accidentalmente dentro de una piscina y 
                               dicho suceso pase desapercibido.
.
                               
                              
                           
                            </label>
                        </div>
                    </td>
            

        </div>
    </div>
</div>
    </div>

 <div class="row mt-2">
    <div class="col- sm-6">
    <div class="card">
        <div class="card-header"> Objetivo general </div>
        <div class="card-body">
              <td colspan="2">
                        <div class="fondoLabelIndex" style="background-color: #FFE5B4;">
                            <label style="font-family: 'Times New Roman'; font-size: 120%;">
                              Construir un dispositivo de alarma que permita prevenir accidentes en
                              centros de entretenimiento acuático, con el fin de apoyar el bienestar 
                              de la población que hace uso de esta atracción.

.
                               
                              
                           
                            </label>
                        </div>
                    </td>
            

        </div>
    </div>
</div>
    <div class="col- sm-6">
    <div class="card">
        <div class="card-header"> Objetivos especificos </div>
        <div class="card-body">
              <td colspan="2">
                        <div class="fondoLabelIndex" style="background-color: #FFE5B4;">
                            <label style="font-family: 'Times New Roman'; font-size: 120%;">
                              
                                    1.Programar los sensores para la lectura y análisis de los datos obtenidos.

                                    2.Desarrollar el sistema de seguridad usando las herramientas de Arduino y un módulo Wifi.

                                    3.Desarrollar una aplicación web que permita asistir al usuario con métodos de medición de incidentes.
                                  
                                    4.Implementar el sistema.


.
                               
                              
                           
                            </label>
                        </div>
                    </td>
            

        </div>
    </div>
</div>

</div>


</div>

    