
@{
    ViewData["Title"] = "registro_encargado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class ="card-header">
    <h5>Registra al nuevo encargado</h5>
    </div>
    <div class="card-body"> 

        <a class="btn btn-success btn-sm" asp-action="registro_empleado" asp-controller="Home" asp-route-idUsuario="0">Crear Perfil</a>
   



    </div>

</div>

