html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    background: radial-gradient(200px top, ellipse, white, #1162ac, black);
}

.row {
 
 
}
}